body {
    font-family: 'Roboto Slab', serif;
    background-color: #68BDCA;
    height: 100%;
    width: 100%;
    /* background-color: #68BDCA; */
  }
  
  /* navbar */

  .navbar{
    background-color: #9edae3;
    opacity: 0.85;
    position: fixed;
    width: 100%;
    box-shadow: 2px 5px 30px #0a5e5a;
    z-index: 10;
  }
  .nav-item{
    color: white;
    padding: 6px;
  }
  .navbar-nav{
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    font-size: 20px;
    color: white;
  }

  /* welcome */
  
  #welcome {
    background-color: #68BDCA;
    background-position: center center;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: #FCFFFF;
    background-image: url("images/card-images/teddy7.png");
    image-rendering: 0.5;
    image-resolution: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 15% 5% 20% 5%;
  }

  .div-about p{
    font-size: 35px;
  }
  
  /*thumbnail*/

  #press {
    width: 60px;
    background-color: #0A3739;
    border: solid 4px white;
    border-radius: 40px;
    margin-right: 1%;
    transition: background-color 0.6s, opacity 0.6s, border 0.7s;
  }
  #press:hover {
    background-color: #68BDCA;
    border: solid 4px #0A3739;
    opacity: 0.8;
    transition: background-color 0.6s, opacity 0.6s, border 0.7s;
  }

  /*about*/
  
  #about {
    background-color: #0A3739;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 5% 5% 5% 5%;
    height: 200%;
    width: 100%;
  }

  #about:after{
    transform-origin: left bottom;
    transform: skewY(3deg);
  }
  
  #about h1 {
    font-family: 'Amatic SC', cursive;
    padding-bottom: 35px;
    font-size: 80px;
    font-weight: bold;
    text-align: left; 
  }
  
  #about p {
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  /* hobbies */
  #hobbies {
    font-family: 'Amatic SC', cursive;
    background-color: #8bcbd5;
    text-decoration: none;
    color: white;
    padding: 5% 5% 5% 5%;
    width: auto;
    height: 100%;
  }

  .hobbies-game{
    position: relative;
    width: 350px;
    height: 420px;
    margin: 20px;
    transition: transform 1000ms;
    transform-style: preserve-3d;
    gap: 120px;
    
  }
  .hobbies-front div{
    margin: 70px;
  }

  .hobbies-game:hover{
    cursor: pointer;
    transform: rotateY(180deg);
  }

  .hobbies-front,
  .hobbies-flip{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    backface-visibility: hidden;
  }

  #hobbies-karate{
    background-image: url('https://images.unsplash.com/photo-1525198104776-f6e8a873f9b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2FyYXRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -8px;
  }
  #hobbies-chess{
    background-image: url('https://images.unsplash.com/photo-1528819622765-d6bcf132f793?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hlc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -8px;
  }
  #hobbies-cube{
    background-image: url('https://media.istockphoto.com/id/1317247125/photo/colorful-wooden-structure-made-out-of-smaller-cube-blocks-on-a-dark-wooden-surface.jpg?s=612x612&w=0&k=20&c=4NIGUIyEu7pdXRhKpIc8YZqtoALkrzrqkUyRfAQukxI=');
    size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: -8px;
  }

  .hobbies-front{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 2px rgb(3, 71, 73) ;
  }

  .hobbies-flip{
    font-size: 25px;
    font-weight: 900;
    color: rgb(3, 71, 73);
    transform: rotateY(180deg);
    display: flex;
    box-shadow: 0px 0px 15px 2px rgb(3, 71, 73) ;
    justify-content: center;
    align-items: center;
  }

  .hobbies-flip div{
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    
  }

  .hobbies-content{
    padding: 121px;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
  }

  #hobbies h1 {
    font-family: 'Amatic SC', cursive;
    padding-bottom: 35px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
  }
  
  

  /* projects */
  
  #project {
    font-family: 'Amatic SC', cursive;
    background-color: #0A3739;
    text-decoration: none;
    color: white;
    padding: 5% 5% 5% 5%;
    width: auto;
    height: 100vh;
  }
  
  #project .container {
    font-size: 50pt;
    font-weight: bold;
  }

  /* footer */

  #footer-div{
    background-position: cover;
    height: 200px;
   
  }
  .container .row {
    display: grid;
    place-items: center;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  }
  .container a{
    height: 10px;
  }
  .container a img {
    margin-top: 40px;
    width: 40px;
    height: 40px;
  }

  .container a {
        display: flex;
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 23px;
        margin-right: 50px; 
        margin-bottom : 100px;
        font-size: 60px;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: rgb(255,255,255,0.7);
        transition: 0.4s;    
  }

  .container a:hover {
    transform: scale(1.25, 1.25);
  }

  .container a:hover::before {
    content: " ";
    size: 10px;
    position: absolute;
    top: 40px;
    width: 50px;
    height: 50px;
    right:-5px;
    bottom: 0;
    border-radius: 23px;
    transition: 0.3s;
  }

  
 
  
  
  